<div class="container">
  <mat-card class="card">
    <!-- Cabecera -->
    <mat-card-header style="margin: 0 auto;">
      <mat-card-title style="color: aliceblue;" >Añadir usuario</mat-card-title>
    </mat-card-header>
    <!-- Cuerpo -->
    <mat-card-content style="margin: 0 auto;">
      <form class="mat-dialog-content" [formGroup]="usuarioForm">

        <div class="form">
          <mat-form-field color="accent">
            <input matInput placeholder="Correo electrónico" formControlName="usuario" name="usuario" required>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent">
            <input matInput placeholder="Nombre Público" formControlName="nombre_publico" name="nombre_publico">
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent">
            <input matInput type="password" placeholder="Contraseña" formControlName="password" name="password"
              required>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field>
            <mat-label>Rol</mat-label>
            <mat-select formControlName="id_rol">
              <mat-option *ngFor="let rol of roles" [value]="rol.id_rol">
                {{rol.rol}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form">
          <mat-form-field color="accent">
            <textarea matInput placeholder="Observaciones" formControlName="observaciones"
              name="observaciones"></textarea>
          </mat-form-field>
        </div>

      </form>
    </mat-card-content>
    <!-- Acciones -->
    <mat-card-actions style="margin: 0 auto;">
      <button id="onSubmit" mat-button type="submit" [disabled]="!usuarioForm.valid"
        (click)="confirmAdd()">Guardar</button>
      <button id="onNoClick" mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </mat-card-actions>
  </mat-card>
</div>
