<mat-sidenav-container fullscreen>
  <div class="container p-2">
    <ng-template #divLoading>
      <mat-grid-list cols="1">
        <mat-grid-tile>
          <mat-spinner></mat-spinner>
        </mat-grid-tile>
      </mat-grid-list>
    </ng-template>

    <div class="d-flex justify-content-center" *ngIf="showContent && isLoading; else divLoading">
      <div class="col-6 sm:col-6">

        <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
          <!-- step de validación de email -->
          <mat-step [stepControl]="emailForm">
            <mat-card class="example-card">
              <mat-card-header>
                <ng-template matStepLabel>Email</ng-template>
              </mat-card-header>
              <mat-card-content>
                <form [formGroup]="emailForm" class="example-form" (ngSubmit)="onSubmit(stepper)">
                  <!-- input email -->
                  <div class="form-group">
                    <mat-form-field class="example-full-width">
                      <mat-label>Correo electrónico</mat-label>
                      <input type="email" matInput required formControlName="email">
                      <mat-error *ngIf="!isValidEmail && emailForm.get('email')?.invalid">
                        El correo electrónico no es válido.
                      </mat-error>
                    </mat-form-field>
                  </div>
                </form>
              </mat-card-content>
              <mat-card-actions [style]="{'margin-top': '30px'}">
                <button mat-flat-button matStepperNext [color]="isValidEmail ? 'primary' : 'warn'"
                  [disabled]="!emailForm.valid" type="submit">Siguiente</button>
              </mat-card-actions>
            </mat-card>
          </mat-step>

          <!-- step de login-->
          <mat-step [stepControl]="loginForm">
            <form [formGroup]="loginForm">
              <mat-card class="example-card">
                <mat-card-header>
                  <ng-template matStepLabel>Login</ng-template>
                </mat-card-header>
                <mat-card-content>
                  <form class="example-form" [formGroup]="loginForm">
                    <div class="form-group">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Correo electrónico" formControlName="username" type="text"
                          required>
                      </mat-form-field>
                    </div>
                    <div class="form-group">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Contraseña" formControlName="password" #input2 type="password"
                          name="password" required>
                      </mat-form-field>
                    </div>
                    <mat-card-actions>
                      <button type="submit" mat-button class="azulVeo" (click)="acceder()">Acceder</button>
                      <!-- <button type="button" mat-raised-button class="azulVeo" (click)="formularioRecuperacion = !formularioRecuperacion">
                            Olvidé mi contraseña
                        </button> -->
                      <!-- <button type="button" mat-raised-button class="azulVeo" (click)="forgotPassword()">
                        Olvidé mi contraseña
                      </button> -->
                    </mat-card-actions>
                  </form>
                  <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
                </mat-card-content>
              </mat-card>
            </form>
          </mat-step>
        </mat-stepper>
      </div>

    </div>

  </div>
</mat-sidenav-container>
