<mat-sidenav-container fullscreen>
  <div class="container p-2">
    <ng-template #divLoading>
      <mat-grid-list cols="1">
        <mat-grid-tile>
          <mat-spinner></mat-spinner>
        </mat-grid-tile>
      </mat-grid-list>
    </ng-template>

    <div class="grid" *ngIf="showContent; else divLoading">
      <div class="col-12 sm:col-6">
        <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
          <mat-step [stepControl]="emailForm">
            <form [formGroup]="emailForm">
              <ng-template matStepLabel>Email</ng-template>
              <!-- input email -->
              <mat-form-field>
                <mat-label>Correo electrónico</mat-label>
                <input type="email" matInput required formControlName="email">
                <mat-error *ngIf="!isValidEmail && emailForm.get('email')?.invalid">
                  El correo electrónico no es válido.
                </mat-error>
              </mat-form-field>
              <div>
                <button mat-flat-button matStepperNext [color]="isValidEmail ? 'primary' : 'warn'"
                  [disabled]="!emailForm.valid" type="submit">Siguiente</button>
              </div>
            </form>
          </mat-step>
          <mat-step>

          </mat-step>
        </mat-stepper>
        <!-- input email -->
        <!-- <form class="grid" [formGroup]="emailForm" (ngSubmit)="onSubmit()">

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Correo electrónico</mat-label>
            <input type="email" matInput required formControlName="email">
            <mat-error *ngIf="!isValidEmail && emailForm.get('email')?.invalid">
              El correo electrónico no es válido.
            </mat-error>

          </mat-form-field>

          <!-- Botones -->
        <!--<div class="flex justify-content-between" *ngIf="emailForm?.valid">
            <button mat-flat-button [color]="isValidEmail ? 'primary' : 'warn'" [disabled]="!emailForm.valid"
              type="submit">Siguiente</button>
          </div>

        </form> -->


      </div>

    </div>

  </div>
</mat-sidenav-container>
