<div class="flex flex-column p-2" >

  <h3>Buscador</h3>
  <mat-form-field>
    <mat-label>Buscador de películas</mat-label>
    <input
    type="text"
    matInput
    [formControl]="searchInput"
    />
  </mat-form-field>
  <button (click)="buscarPelicula()">Buscar</button>
</div>

<div class="grid mb-8">
  <!-- style="margin: 10px; margin-bottom: 350px;" -->
  <div *ngFor="let pelis of peliculas" class="col-12 sm:col-4 md:col-3 xl:col-2">
    <peliculas-card-pelicula [pelicula]="pelis"></peliculas-card-pelicula>
  </div>
</div>
